// Font families.
$ff: 'Arial', sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$lh: 1.5;
$lh-title: 1.3;

// Font weights.
$fw-400: 400;
$fw-700: 700;
